In [1]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt

# Connecting to database

In [2]:
try:
# connects to a PostgreSQL database.
# the try-except-finally block informs the user whether the connection was successful or not.
    conn = psycopg2.connect(
        host = 'host',
        database = 'pizza_runner',
        user = 'username',
        password = 'P@s$w0rd',
        port = '1234'
    )
    conn.autocommit = True
    cursor = conn.cursor()
    print('Connected to database')
except Exception as e:
    print(f'Error: {e}')
finally:
    print("You're now connected to pizza_runner")

Connected to database
You're now connected to pizza_runner

# Creating tables and inserting data

In [3]:
# runners
try:
    cursor.execute('''CREATE TABLE runners (
  "runner_id" INTEGER,
  "registration_date" DATE
);
    ''')
    conn.commit()
    print('Table created successfully')
except:
    print('table already exists')

Table created successfully

In [4]:
try:
    cursor.execute('''INSERT INTO runners
  ("runner_id", "registration_date")
VALUES
  (1, '2021-01-01'),
  (2, '2021-01-03'),
  (3, '2021-01-08'),
  (4, '2021-01-15');
                   ''')
    conn.commit()
    print('data inserted successfully')
except:
    print('data already exists')

data inserted successfully

In [5]:
# customer orders
try:
    cursor.execute('''CREATE TABLE customer_orders (
  "order_id" INTEGER,
  "customer_id" INTEGER,
  "pizza_id" INTEGER,
  "exclusions" VARCHAR(4),
  "extras" VARCHAR(4),
  "order_time" TIMESTAMP
);
    ''')
    conn.commit()
    print('table created successfully')
except:
    print('table already exists')

table created successfully

In [6]:
try:
    cursor.execute('''INSERT INTO customer_orders
  ("order_id", "customer_id", "pizza_id", "exclusions", "extras", "order_time")
VALUES
  ('1', '101', '1', '', '', '2020-01-01 18:05:02'),
  ('2', '101', '1', '', '', '2020-01-01 19:00:52'),
  ('3', '102', '1', '', '', '2020-01-02 23:51:23'),
  ('3', '102', '2', '', NULL, '2020-01-02 23:51:23'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '2', '4', '', '2020-01-04 13:23:46'),
  ('5', '104', '1', 'null', '1', '2020-01-08 21:00:29'),
  ('6', '101', '2', 'null', 'null', '2020-01-08 21:03:13'),
  ('7', '105', '2', 'null', '1', '2020-01-08 21:20:29'),
  ('8', '102', '1', 'null', 'null', '2020-01-09 23:54:33'),
  ('9', '103', '1', '4', '1, 5', '2020-01-10 11:22:59'),
  ('10', '104', '1', 'null', 'null', '2020-01-11 18:34:49'),
  ('10', '104', '1', '2, 6', '1, 4', '2020-01-11 18:34:49');
                   ''')
    conn.commit()
    print('data inserted successfully')
except:
    print('data already exists')

data inserted successfully

In [9]:
# runner orders
try:
    cursor.execute('''CREATE TABLE runner_orders (
  "order_id" INTEGER,
  "runner_id" INTEGER,
  "pickup_time" VARCHAR(19),
  "distance" VARCHAR(7),
  "duration" VARCHAR(10),
  "cancellation" VARCHAR(23)
);
    ''')
    conn.commit()
    print('table created successfully')
except:
    print('table already exists')

table created successfully

In [10]:
try:
    cursor.execute('''INSERT INTO runner_orders
  ("order_id", "runner_id", "pickup_time", "distance", "duration", "cancellation")
VALUES
  ('1', '1', '2020-01-01 18:15:34', '20km', '32 minutes', ''),
  ('2', '1', '2020-01-01 19:10:54', '20km', '27 minutes', ''),
  ('3', '1', '2020-01-03 00:12:37', '13.4km', '20 mins', NULL),
  ('4', '2', '2020-01-04 13:53:03', '23.4', '40', NULL),
  ('5', '3', '2020-01-08 21:10:57', '10', '15', NULL),
  ('6', '3', 'null', 'null', 'null', 'Restaurant Cancellation'),
  ('7', '2', '2020-01-08 21:30:45', '25km', '25mins', 'null'),
  ('8', '2', '2020-01-10 00:15:02', '23.4 km', '15 minute', 'null'),
  ('9', '2', 'null', 'null', 'null', 'Customer Cancellation'),
  ('10', '1', '2020-01-11 18:50:20', '10km', '10minutes', 'null');
                   ''')
    conn.commit()
    print('data inserted successfully')
except:
    print('data already exists')

data inserted successfully

In [12]:
try:
    cursor.execute('''CREATE TABLE pizza_names (
  "pizza_id" INTEGER,
  "pizza_name" TEXT
);
    ''')
    conn.commit()
    print('table created successfully')
except:
    print('table already exists')

table created successfully

In [13]:
try:
    cursor.execute('''INSERT INTO pizza_names
  ("pizza_id", "pizza_name")
VALUES
  (1, 'Meatlovers'),
  (2, 'Vegetarian');
                   ''')
    conn.commit()
    print('data inserted successfully')
except:
    print('data already exists')

data inserted successfully

In [4]:
try:
    cursor.execute('''CREATE TABLE pizza_recipes (
  "pizza_id" INTEGER,
  "toppings" TEXT
  )
  ''')
    conn.commit()
    print('table created successfully')
except:
    print('table already exists')

table created successfully

In [5]:
try:
    cursor.execute('''INSERT INTO pizza_recipes
  ("pizza_id", "toppings")
VALUES
  (1, '1, 2, 3, 4, 5, 6, 8, 10'),
  (2, '4, 6, 7, 9, 11, 12'
  );
    ''')
    conn.commit()
    print('data inserted successfully')
except:
    print('data already exists')

data inserted successfully

In [6]:
try:
    cursor.execute('''CREATE TABLE pizza_toppings (
  "topping_id" INTEGER,
  "topping_name" TEXT
);
INSERT INTO pizza_toppings
  ("topping_id", "topping_name")
VALUES
  (1, 'Bacon'),
  (2, 'BBQ Sauce'),
  (3, 'Beef'),
  (4, 'Cheese'),
  (5, 'Chicken'),
  (6, 'Mushrooms'),
  (7, 'Onions'),
  (8, 'Pepperoni'),
  (9, 'Peppers'),
  (10, 'Salami'),
  (11, 'Tomatoes'),
  (12, 'Tomato Sauce');
                   ''')
    conn.commit()
    print('table and data created and inserted successfully')
except:
    print('table or data already exists')

table and data created and inserted successfully